<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nts.pjt3.dao.ReservationUserCommentDao">
	<select id="getAllByProductId" resultType="ReservationUserComment">
		SELECT
			rsvusrcmt.id
			, rsvusrcmt.product_id
			, rsvusrcmt.reservation_info_id
			, rsvusrcmt.score
			, rsvusrcmt.comment
			, rsvinfo.reservation_email
			, rsvinfo.reservation_date
			, rsvusrcmt.create_date
			, rsvusrcmt.modify_date
		FROM
			reservation_user_comment rsvusrcmt
			, reservation_info rsvinfo
		WHERE
			rsvinfo.id = rsvusrcmt.reservation_info_id
			AND rsvusrcmt.product_id = #{productId}
	</select>
	
	<insert id="createComment" useGeneratedKeys="true" keyProperty="id" parameterType="ReservationUserComment">
		INSERT INTO
		reservation_user_comment (
			product_id
			, reservation_info_id
			, score
			, comment
			, create_date
		)
		VALUES (
			#{productId}
			, #{reservationInfoId}
			, #{score}
			, #{comment}
			, NOW()
		)
	</insert>
</mapper>
